app-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 15%;

    #profile-header{
        display: flex;
        justify-content: space-between;

        .profile-header-actions{
            display: flex;
            gap:15px;
        }
    }
    
    .profile-content{

    
      
        .summary{
            width: 20%;
        }
    
        .artefact-menu{
            display: flex;
            flex-direction: column;
        }
      
      }
}