app-morpheus{

    #edition{
        padding: 15px;
        //display: flex;
        //width: 80%;

        .loading{
            z-index: 100;
            position: absolute;
            top: 50%;
            right: 50%;
        }
    }
    
    #preview{
        display: flex;
        justify-content: center;
        gap:15px;

        .summary{
            width: 20%;
        }

        .preview{
            width: 50%;
        }
    }
}

.box {
    padding: 2rem;
    border-radius: 10px;
    // width: 110px;
    //text-align: center;
}